<header class="page-header">
    <h1><a class="home-link" href="/">Peridotlines</a></h1>
    <div class="container">
        <div class="nav-list">
            <a href="/">Home</a>
            <a href="/blog/">Blog</a>
            <a href="/about/">About</a>
            <a href="/feed/feed.xml">Feed</a>
        </div>
    </div>
</header>